{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col">
            {{ form_start(form) }}
            {{ form_errors(form) }}

            <div class="form-group">
                {{ form_label(form.email) }}
                {{ form_errors(form.email) }}
                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group">
                {{ form_label(form.username) }}
                {{ form_errors(form.username) }}
                {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group">
                {{ form_label(form.password) }}
                {{ form_errors(form.password) }}
                {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div>
                {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}, 'label': 'label.user.save'}) }}
            </div>

            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}

{% block title %}
    User
{% endblock %}

