{% extends 'base.html.twig' %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="container py-5">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center mb-4">Log in please</h2>
                <div class="row">
                    <div class="col-md-6 mx-auto">

                        <!-- form card login -->
                        <div class="card rounded-0">
                            <div class="card-header">
                                <h3 class="mb-0">Login</h3>
                            </div>
                            <div class="card-body">
                                <form action="{{ path('login') }}" method="post" autocomplete="off" id="formLogin"
                                      novalidate="">

                                    <div class="form-group">
                                        <label for="username">Username:</label>
                                        <input class="form-control form-control-lg rounded-0" type="text" id="username"
                                               placeholder="Username" name="_username" value="{{ last_username }}"/>
                                        <div class="invalid-feedback">Oops, you missed this one.</div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputEmail">Email:</label>
                                        <input class="form-control form-control-lg rounded-0" type="email" name="_email"
                                               id="inputEmail" placeholder="Email" required autofocus>
                                    </div>

                                    <div class="form-group">
                                        <label for="password">Password:</label>
                                        <input class="form-control form-control-lg rounded-0" type="password"
                                               placeholder="Password" id="password" name="_password"/>
                                        <div class="invalid-feedback">Enter your password too!</div>
                                        <div class="form-group">

                                            <button type="submit" class="btn btn-success btn-lg float-right"
                                                    id="btnLogin">
                                                Login
                                            </button>
                                </form>

                            </div>
                            <!--/card-block-->
                        </div>
                        <!-- /form card login -->

                    </div>


                </div>
                <!--/row-->

            </div>
            <!--/col-->
        </div>
        <!--/row-->
    </div>
    <!--/container-->
{% endblock %}