{% extends 'base.html.twig' %}

{% block body %}
    {% for product in products %}
        <div class="card">
            {{ product.name }} : {{ product.price }}
        </div>
    {% endfor %}
{% endblock %}

{% block title %}

{% endblock %}

