{% extends 'base.html.twig' %}

{% block body %}
    We have {{ product.name }} with id {{ product.id }}
    <p>Its price is {{ product.price }}</p>
{% endblock %}

{% block title %}
Product {{ product.name }}
{% endblock %}

