{% extends 'base.html.twig' %}

{% block body %}

    <div class="card">
        {{ oldProduct.name }} : {{ oldProduct.description }}
    </div>
    <div class="card">
        {{ product.name }} : {{ product.description }}
    </div>

{% endblock %}

{% block title %}
    UPDATE
{% endblock %}

