{% extends 'base.html.twig' %}
{% set has_no_phone = "has no phone" %}

{% block body %}
    <div id="wrapper">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card bg-info text-light">
                        <p>It is {{ "now"|date("Y-m-d H:i:s") }} now</p>
                        <p>It will be {{ today|date_modify("+1 day")|date("d/m/Y") }} tomorrow</p>
                    </div>
                </div>
            </div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">{{ 'name' | upper }}</th>
                    <th scope="col">{{ 'surname' | upper }}</th>
                    <th scope="col">{{ 'phone' | upper }}</th>
                    <th scope="col">{{ 'date of birth' | upper }}</th>
                </tr>
                </thead>
                {% for client in clients %}
                    {% set counter = ( counter | default(0) ) + 1 %}
                    <tr>
                        <td>{{ counter }}</td>
                        <td>{{ client.name }}</td>
                        <td>{{ client.surname }}</td>
                        <td>{{ client.phone|default(has_no_phone) }}</td>
                        <td>{{ client.dateOfBirth|date("d/m/Y") }}</td>
                    </tr>
                {% endfor %}
            </table>

            <div class="row">
                <div class="col">
                    {% set specialClient = random(clients) %}
                    {{ 'winner-winner chicken dinner' | upper }} => {{ specialClient.name }} {{ specialClient.surname }}
                    <p>
                        {% if specialClient.phone is not null %}
                            Call: {{ specialClient.phone }}
                        {% else %}
                            {{ specialClient.name }} is looser. Press F5
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
