{% extends 'base.html.twig' %}
{% block title %}I am Adminman!{% endblock %}
{% block body %}

    <div class="card">
        {{ code }}
    </div>

    <div class="card">
        test: <br />
        {{ my_name }}

        {{ dump(app.user) }}
        {{ dump(app.request) }}
        {{ dump(app.session) }}
        {{ dump(app.environment) }}
        {{ dump(app.debug) }}
    </div>

{% endblock %}