{% extends 'base.html.twig' %}
{% block title %}I am Adminman!{% endblock %}
{% block body %}
    {% dump my_integer %}
    {% dump my_string %}
    {% dump my_array %}
    {% dump my_class %}

    {% for my_key in my_array %}
        {{ dump(my_key) }}
    {% endfor %}

    {{ dump(my_class) }}

    {{ dump() }}

{% endblock %}